body {
  background: linear-gradient(45deg, #e66465, #9198e5);
}

.tidalData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(49);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.time {
  justify-self: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.depth {
  justify-self: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.tableBox {
  border: solid 2px black;
  border-radius: 1rem;
  font-size: 1rem;
  width: 10rem;
  height: 2rem;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  justify-self: center;
  text-align: center;
}

.danger {
  background: rgb(201, 61, 61);
  color: white;
}

.noDanger {
  background: rgb(4, 198, 242);
}
