body {
  background: linear-gradient(45deg, #e66465, #9198e5);
}
.container {
  margin: 4rem;
}

.tidalData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(49);
  column-gap: 2rem;
  justify-items: center;
  margin: auto;
  width: 20rem;
}

.time {
  justify-self: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.depth {
  justify-self: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.tableBox {
  border: solid 1.5px black;
  border-radius: 1rem;
  font-size: 1rem;
  min-width: 8rem;
  height: 2rem;
  align-items: center;
  justify-self: center;
  text-align: center;
  display: grid;
}

.danger {
  background: rgb(201, 61, 61);
  color: white;
}

.noDanger {
  background: rgba(4, 198, 242, 0.817);
}
.map {
  border: 1px solid black;
}
